<style>
    .cardNum {
        font-size: 40px;
        line-height: 50px;
        color: white;
    }

    .cardName {
        font-size: 12px;
        margin-top: -5px;
        color: white;
    }

    @media only screen and (max-width: 1300px) {
        .col-md-6 {
            width: 100%;
        }
    }
</style>
    
<div class="row g-2">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card d-flex flex-row px-4 py-3" style="background-color: #21c861;">
            <div class="mt-1 px-2 rounded" style="background-color: #ffffff4b; height: 55px;">
                <i class="bi bi-recycle" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ps-4">
                <div class="cardNum"><%- sum.weight.toFixed(4) * 1 %></div>
                <div class="cardName">Summary Garbage Weight (kg)</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card d-flex flex-row px-4 py-3" style="background-color: #4687dc;">
            <div class="mt-1 px-2 rounded" style="background-color: #ffffff4b; height: 55px;">
                <i class="bi bi-clouds" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ps-4">
                <div class="cardNum"><%- sum.carbon.toFixed(4) * 1 %></div>
                <div class="cardName">Summary Carbon Dioxide (kgCO<sub>2</sub>e)</div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mt-4 mb-3">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card p-2">
            <div class="text-center fs-5">Last 10 times of garbage weight graph</div>
            <canvas id="chartWeight" class="mt-3" style="width:100%;"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card p-2">
            <div class="text-center fs-5">Last 10 times of garbage carbon graph</div>
            <canvas id="chartCarbon" class="mt-3" style="width:100%;"></canvas>
        </div>
    </div>
</div>
<input type="hidden" id="dataLength" value="<%- data.length %>">
<% for(let i=0; i<data.length; i++) { %>
    <input type="hidden" id="date<%- i %>" value="<%- new Date(data[i].createdate).toLocaleDateString('en-GB') %>">
    <input type="hidden" id="weight<%- i %>" value="<%- data[i].weight %>">
    <input type="hidden" id="carbon<%- i %>" value="<%- data[i].carbon %>">
    <% } %>
        <script>

            function displayChart() {
                Chart.defaults.global.defaultFontColor = "black";
                var dateValues = [];
                var weightValues = [];
                var carbonValues = [];
                dateValues[0] = 0;
                weightValues[0] = 0;
                carbonValues[0] = 0;
                for (let i = 0; i < $('#dataLength').val(); i++) {
                    dateValues[$('#dataLength').val() - i] = $('#date' + i).val();
                    weightValues[$('#dataLength').val() - i] = $('#weight' + i).val();
                    carbonValues[$('#dataLength').val() - i] = $('#carbon' + i).val();
                }
                new Chart("chartWeight", {
                    type: "line",
                    data: {
                        labels: dateValues,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgb(33, 200, 97)",
                            borderColor: "rgb(33, 200, 97, 0.8)",
                            data: weightValues,
                            pointRadius: 5,
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            xAxes: [{
                                ticks: { fontSize: 14 },
                                scaleLabel: { display: true, labelString: 'Date (dd/mm/yyyy)', fontSize: 16 }
                            }],
                            yAxes: [{
                                ticks: { fontSize: 14 },
                                scaleLabel: { display: true, labelString: 'Garbage Weight (kg)', fontSize: 16 }
                            }],
                        }
                    }
                });
                new Chart("chartCarbon", {
                    type: "line",
                    data: {
                        labels: dateValues,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: carbonValues,
                            pointRadius: 5,
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            xAxes: [{
                                ticks: { fontSize: 14 },
                                scaleLabel: { display: true, labelString: 'Date (dd/mm/yyyy)', fontSize: 16 },
                            }],
                            yAxes: [{
                                ticks: { fontSize: 14 },
                                scaleLabel: { display: true, labelString: 'Carbon Dioxide (kgCO2e)', fontSize: 16 }
                            }],
                        }
                    }
                });
            }
            displayChart();
        </script>