<%- include('../template/header'); %><%- include('../template/navbar'); %>
<div class="px-5">
    <div class="d-flex mt-4">
        <div class="pt-2"><label for="">Filter Year: </label></div>
        <div class="ps-2">
            <select id="yearFilter" class="form-select">
                <% var yearNow = new Date().getFullYear(); %>
                <option value="0">All Times</option>
                <% for(let i=0; i<5; i++) { %>
                <option value="<%- yearNow - i %>"><%- yearNow - i %></option>
                <% } %>
            </select>
        </div>
    </div>
    <div id="content" class="py-4"></div>
    <div style="width: 100%; margin-top: 10%;" class="text-center d-none" id="loader">
        <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <input type="hidden" id="uid" value="<%- id %>">
</div>
<script>
    $('#yearFilter').on('change', function() {
        $('#loader').removeClass('d-none');
        $('#content').addClass('d-none');
        $.ajax({
            contentType: 'application/json',
            url: baseURL + "/collect/getGraph",
            method: "post",
            data: JSON.stringify({
                id: $('#uid').val(),
                year: $('#yearFilter').val()
            }),
        }).done(function (res) {
            $('#content').html(res);
            setTimeout(function(){
                $('#backCollect').removeClass('d-none');
                $('#content').removeClass('d-none');
                $('#loader').addClass('d-none');
            }, 100);
        });
    });

    function loadGraph() {
        $('#loader').removeClass('d-none');
        $('#content').addClass('d-none');
        $.ajax({
            contentType: 'application/json',
            url: baseURL + "/collect/getGraph",
            method: "post",
            data: JSON.stringify({
                id: $('#uid').val(),
                year: 0
            }),
        }).done(function (res) {
            $('#content').html(res);
            setTimeout(function(){
                $('#content').removeClass('d-none');
                $('#loader').addClass('d-none');
            }, 100);
        });
    }
    loadGraph();
</script>
<%- include('../template/footer'); %>